<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhk2f6MHpHWw23VN5q4YOxxuj9ZhOreUI</string>
	<key>GCM_SENDER_ID</key>
	<string>350288722486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Orevan.OrevanAR</string>
	<key>PROJECT_ID</key>
	<string>orevan-ar-game</string>
	<key>STORAGE_BUCKET</key>
	<string>orevan-ar-game.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350288722486:ios:201f72df18cc4b588f3697</string>
</dict>
</plist>